/*state overview*/

.state-overview .symbol,
.state-overview .value {
  display: inline-block;
  text-align: center;
}

.state-overview .value {
  float: right;
}

.state-overview .value h1,
.state-overview .value p {
  margin: 0;
  padding: 0;
  color: #7087A3;
  font-size: 17px;
}

.state-overview .value a {
  text-decoration: none;
}

.state-overview .value h1 {
  font-weight: 300;
}

.state-overview .symbol i {
  color: #fff;
  font-size: 50px;
}

.state-overview .symbol {
  width: 40%;
  padding: 25px 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}

.state-overview .value {
  width: 58%;
  padding-top: 21px;
}

.state-overview .terques {
  background: #6ccac9;
}

.state-overview .red {
  background: #ff6c60;
}

.state-overview .yellow {
  background: #f8d347;
}

.state-overview .blue {
  background: #438eb9;
}

footer {
  background: #34495e none repeat scroll 0 0;
  padding: 25px 0 15px 0;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #bc4f3c;
  text-decoration: none;
}